<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <span>
        <img src="../../../../../assets/svgIcon/book.svg" alt="">
      </span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/dashboard" >Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/favroite-books" >My Favourite Book List</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" (click)="logOut()" type="submit">logOut</button>
        </form>
      </div>
    </div>
  </nav>
